@import '../Global/fuentes.css';

body {
    background-color: rgba(255, 255, 255, 0.95);
}

img{
    width: 250px;
    height: auto;
}

.logo img{
    height: auto;
    margin-top: -80px;
    margin-left: 20px;
    width: 250px;
}

.navegacion{
    position: absolute;
    left: 25%;
    top: 30px;
}

.navegacion ul{
    display: flex;
}

.navegacion ul li{
    margin: 10px 30px;
    font-size: 20px;
}

.navegacion ul li a {
    padding: 5px 5px;
    color: black;
    text-decoration: none;
}

header{
    background-image: url(../../Assets/Img/menuDeNavegación/ImagenPrincipalDelMenuDeNavegación.jpg);
    background-size: cover;
    height: 100vh;
    font-family: Josefin-Sans;
}

.iniciarSesion{
    position: absolute;
    width: 130px;
    left: 60vw;
}

.inicio{
    border-bottom: 2px solid #9A5833;
}

.buscador{
    margin-left: 80%;
    margin-top: -138px;
}

.buscador img{
    width: 25px;
    height: 25px;
}

.slogan{
    color: white;
    font-size: 30px;
    font-family: Kaushan-Script;
    margin-top: 25vh;
    text-align: center;
}

.slogan a{
    background-color: #9A5833;
    border-radius: 5px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.6);
    color: white;
    font-family: Josefin-Sans;
    font-size: 20px;
    text-decoration: none;
    padding: 20px 50px;
}

.slogan h1{
    font-size: 40px;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
}

.slogan h2{
    margin-top: 10px;
    margin-bottom: 50px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}

.menu{
    background-color: rgba(255, 255, 255, 0.10);
    height: 95px;
}